<div ng-controller="MonthlyCost as monthlyCost" style="float:left; width: 200px">
            <div>
                <p>Monthly Payments</p>
                <form>
                    Price:<br>
                    <input name="price" type="text" ng-model="monthlyCost.price" ng-change="monthlyCost.calculateMonthlyCost()"><br>
                </form>
                <p>Monthly Cost is: <span ng-bind="monthlyCost.paymentCost"></span></p>
            </div>
            <div>
                <p>Gas Cost</p>
                <form>
                    Miles Per Gallon:<br>
                    <input name="mpg" type="text" ng-model="monthlyCost.mpg" ng-change="monthlyCost.calculateGasCost()"><br>
                </form>
                <p>Monthly Gas Cost is: <span ng-bind="monthlyCost.gasCost"></span></p>
            </div>
            <div>
                <p>Total Cost: <span ng-bind="monthlyCost.totalCost"></span></p>
            </div>
            <div>
                <p>Total Cost after <span ng-bind="monthlyCost.getTimeLengthSelected()"></span> years: <span ng-bind="monthlyCost.costAfterSomeYears"></span></p>
            </div>
        </div>