<div ng-controller="MonthlyCost as monthlyCost" class="col-xs-6 col-sm-4 col-md-3">
    <div class="well well-sm">
        <form>
            <div class="form-group">
                <label for="price">Price:</label><br>
                <input id="price" type="number" class="form-control" ng-model="monthlyCost.carPrice" ng-change="monthlyCost.calculateMonthlyPaymentCost()"><br>
            </div>
            <div class="form-group">
                <label for="mpg">Miles Per Gallon:</label> <br>
                <input id="mpg" type="number" class="form-control" ng-model="monthlyCost.mpg" ng-change="monthlyCost.calculateMonthlyGasCost()"><br>
            </div>
        </form>
        <p>Monthly Payment is: <span id="paymentCost" ng-bind="monthlyCost.paymentCost | currency"></span></p>
        <p>Monthly Gas Cost is: <span id="gasCost" ng-bind="monthlyCost.gasCost | currency"></span></p>
        <p>Total Cost Per Month: <span id="totalMonthlyCost" ng-bind="monthlyCost.totalMonthlyCost() | currency"></span></p>
        <p>Total Cost after <span ng-bind="monthlyCost.getTimeLengthSelected()"></span> years: <span id="totalCostAfterSomeYears" ng-bind="monthlyCost.totalCostAfterSomeYears()  | currency"></span></p>
    </div>
</div>
